!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='GA software development exercise')
		meta(name='author', content='Robert Ellis')
		meta(name='email', content='rellis@getmehere.com')
		meta(name='web', content='http://getmehere.com')
		meta(name='repo', content='https://github.com/robertgetmehere/GAFairSwDevExercise.git')
		meta(name='linkedin', content='http://www.linkedin.com/in/robertdellis')
		link(rel='stylesheet', href='assets/css/bootstrap.css')
		link(rel='stylesheet', href='assets/css/style.css')
		title GA Software Development Exercise
	body
		.smallBox.header
			div.galogo
			| Software Development Exercise
		.basicBox
		.basicBox.bigBox
			if result.errorLevel == 0
				| looking for exact matches only and ignoring the cover page
				br
				| the word "#{result.searchWord}" was found #{result.timesFound} times in #{result.wordCount} words
				br
				| the average distance between occurrences is #{result.averageWordDistance} words
				br
				br
				| on a rolling sample basis the most common triple word phrase is "#{result.tripleWord.triple}"
				br
				| which occurs a total of #{result.tripleWord.frequency} times
			else
				| error #{result.message}
		.support
			.panel.left
				| This challenge was submitted by Robert D. Ellis.
				br
				| To find out more view the &nbsp;
				a(href='assets/SoftwareDevelopmentExercisePseudoCode.pdf', target='_blank') pseudo code
			.panel.right
				ul.nav
					li.icon.em
						a(href='mailto:rellis@getmehere.com?subject=GA%20Software%20Development%20Exercise', target='_blank')  &nbsp;
					li.icon.li
						a(href='http://www.linkedin.com/in/robertdellis', target='_blank')  &nbsp;
					li.icon.wb
						a(href='http://getmehere.com', target='_blank')  &nbsp;
					li.icon.gt(style='margin-right: 0;')
						a(href='https://github.com/robertgetmehere/GAFairSwDevExercise.git', target='blank')  &nbsp;
